{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "google"],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "object-curly-spacing":"off",
        "operator-linebreak": "off",
        "require-jsdoc":"off",
        "linebreak-style":"off",
        "max-len":  [2, 90, 4, {"ignoreUrls": true}],
        "no-unused-vars": "warn",
        "no-useless-escape": "off",
        "no-debugger": "warn"
    }
}