//-----GENERAL--------
$border-color: #c0c0c0;

//-----HEADER---------
$header-height: 34px;

//-----TOOLBAR--------
$toolbar-height: 40px;

//-----FORMULA--------
$formula-height: 24px;

//-----TABLE----------
$row-height: 20px;
$info-row-color: #f8f9fa;
$info-cell-width: 40px;
$cell-width: 120px;
$cell-min-width: 40px;
$primary-blue-color: #3c74ff;

//-----DASHBOARD-PAGE--
$db-header-height: 64px;
$db-border-color: #dadce0;